/BaamStudios.AnimationExtractor/bin
/BaamStudios.AnimationExtractor/obj
/BaamStudios.AnimationExtractorPipeline/bin
/BaamStudios.AnimationExtractorPipeline/obj
/SkinningSample/SkinnedModel/bin
/SkinningSample/SkinnedModel/obj
/SkinningSample/SkinnedModelPipeline/bin
/SkinningSample/SkinnedModelPipeline/obj
/BaamStudios.AnimationController/bin
/BaamStudios.AnimationController/obj
/SkinningSample/SkinningSample/bin
/SkinningSample/SkinningSample/obj
/SkinningSample/SkinningSample/Content/*.user
/SkinningSample/SkinningSample/*.cachefile
/SkinningSample/SkinningSample/Content/obj
/*.suo
